body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border-radius: 4px;
}

nav a.active {
  background-color: #555;
}

main {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

h1, h2 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto; /* Centrar todos los formularios */
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding no expanda el ancho del elemento */
}

select {
  appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%225%22><path%20fill%3D%22%23333%22%20d%3D%22M0%200l5%205%205-5z%22/></svg>') no-repeat right 10px center;
  background-color: white; /* Asegura que el fondo del select sea blanco */
  background-size: 10px;
  padding-right: 30px; /* Espacio adicional para la flecha */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* Ocultar secciones por defecto */
.page {
  display: none;
}

/* Estilos adicionales para mejorar visualmente el formulario de gastos */
#total-gastos, #totales, #pendiente {
  margin-top: 30px;
}

#total-gastos p, #totales p, #pendiente p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
